<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="dk.andsen.asqlitemanager"
	android:installLocation="auto"
	android:versionCode="17"
	android:versionName="3.6">
  <uses-sdk android:minSdkVersion="8"
     android:targetSdkVersion="17" />
  <supports-screens
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="true"
    android:anyDensity="true" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
 	<application android:icon="@drawable/sqlite_icon"
      	android:label="@string/app_name"
		android:configChanges="orientation|keyboardHidden"
      	android:debuggable="false"
      	android:allowBackup="true">
		<activity android:name=".aSQLiteManager"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
    <activity android:name="dk.andsen.filepicker.FilePicker"></activity>
    <activity android:name=".DBViewer"></activity>
    <activity android:name=".TableViewer"></activity>
    <activity android:name=".Help"></activity>
    <activity android:name=".Prefs"></activity>
    <activity android:name=".QueryViewer"></activity>
    <activity android:name=".SQLViewer"></activity>
    <activity android:name=".CreateTableWizard"></activity>
    <activity android:name=".CreateTableWizField"></activity>
    <activity android:name=".FilterBuilder"></activity>
    <activity android:name="dk.andsen.csv.CsvExport"></activity>
    <activity android:name="dk.andsen.csv.CsvImport"></activity>
    <!--
          Don't know why but by repeating the OpenOnClick intend in these two
          different ways aSQLiteManager can be opened from FileManager (Adao Team)
          and OI File Manager but not from "Simplest File Manager"
        -->        
		<activity android:name=".OpenOnClick"
		          android:label="@string/app_name"
		          android:icon="@drawable/sqlite_icon"
		          android:theme="@android:style/Theme.Dialog" >
<!--
android:label="@string/app_name"
 -->
		    <intent-filter android:icon="@drawable/sqlite_icon"
				  android:label="aSQL mime *" >
		    <action android:name="android.intent.action.VIEW" />
		    <category android:name="android.intent.category.DEFAULT" />
		    <category android:name="android.intent.category.BROWSABLE" />
		    <category android:name="android.intent.category.ALTERNATIVE" />
		    <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
		    <data android:scheme="file" android:host="*"  android:pathPattern=".*\\.sqlite" />
<!-- 		    <data android:scheme="content" android:host="*"  android:pathPattern=".*\\.sqlite" />   -->
 		    <data android:scheme="file" android:host="*"  android:pathPattern=".*\\.db" />   			
<!--		    <data android:scheme="content" android:host="*"  android:pathPattern=".*\\.db" />	-->
		    <data android:mimeType="*/*" /> 
			</intent-filter> 
		</activity>
		<activity android:name=".OpenOnClick2"
		          android:label="@string/app_name"
		          android:icon="@drawable/sqlite_icon"
		          android:theme="@android:style/Theme.Dialog">
<!--
android:label="@string/app_name"
 -->
		    <intent-filter android:icon="@drawable/sqlite_icon"
					android:label="aSQL file">
		    <action android:name="android.intent.action.VIEW" />
		    <category android:name="android.intent.category.DEFAULT" />
		    <category android:name="android.intent.category.BROWSABLE" />
		    <category android:name="android.intent.category.ALTERNATIVE" />
		    <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
		    <data android:scheme="file" android:host="*"  android:pathPattern=".*\\.sqlite" />
		    <data android:scheme="file" android:host="*"  android:pathPattern=".*\\.db" />
			</intent-filter> 
		</activity>
		<activity 
      android:name=".OpenOnClick3"
		  android:label="@string/app_name"
		  android:icon="@drawable/sqlite_icon"
      android:configChanges="orientation|keyboardHidden"
      android:launchMode="singleTop">
<!--
android:label="@string/app_name"
 -->
		    <intent-filter android:icon="@drawable/sqlite_icon"
					android:label="aSQL mime sqlite">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/x-sqlite3" />
      </intent-filter>
    </activity>
	</application>
</manifest> 